*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
 
    
}
.header{
    width: 100%;
    height:100vh;
    background-image: url("image/banner.png");
    background-repeat: no-repeat;
    background-position:top;
    background-size:contain;
    background-position-x: center;
 
    z-index: 12;

}

.photo{
    position: relative;
  display: none;

}
.photo img{
    width: 100%;
    height: 1014.024px;
   position:static;
   right: -300px;
   top: -150px;
   transform: rotate(-12.82deg);

}
.featurs{
    width: 100%;
    height: 100vb;
   background-image: url("image/Features.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
 

    }
Key-Features{
    width: 100%;
    height: auto;
   background-image: url("image/Customers_Need\ \(1\).png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    }
#contact{
        border: 2px solid #007AFF;
     
        text-align: center;
    }
.mobole-f-photo{
    display: none;
}
    @media only screen and (max-width: 800px) {
        .photo {
            display: none;
        }
        .freatures-photo{
            display: none;
        }
      }
    @media only screen and (max-width: 600px) {
    
        .mobole-f-photo{
            display: block;
            width: 100%;
            height: 400px;
        }
        
     
        .photo img{

        width: 80%;
        height: 400px;
        }
        .freatures-photo{
            display: none;
        }
       
      }
   